<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="referrer" content="no-referrer" />

    <link rel="stylesheet" href="/style.css" />

    <title>
      Ethical Engineering – A Software Consultancy Company by Jean Mertz.
    </title>
  </head>
  <body>
    <header>
      <img class="logo" src="/images/logo.png" />
      <div class="byline">
        A Software Consultancy Company by
        <a href="https://jeanmertz.com">Jean Mertz</a>.
      </div>
    </header>

    <section>
      <div class="disciplines">
        <strong>Engineering</strong>, <strong>Software Architecture</strong>,
        <strong>Technical Leadership</strong>, <strong>Coaching</strong> and
        <strong>Product Management</strong>.
      </div>
      <div class="about">
        <p>
          <strong>Ethical Engineering</strong> is a software consultancy company
          focused on delivering working and maintainable software solutions for
          organisations and individuals in an ethical manner.
        </p>
        <p>
          I hold strong principles on how I use my skills to help others.
          Ethical standards to me dictate that you
          <em>treat your customers and employees well</em>, run your business
          for the <em>betterment of the world</em>, not the enrichment of the
          few, and <em>don’t participate in anti-competitive practices</em>.
        </p>
        <p>
          In my experience, there are some industries that go against these
          principles. If you want to hire me, know that if you operate in any of
          these industries, you will have to help me understand why you are
          different. These industries are <em>military</em>,
          <em>industrial livestock production</em>,
          <em>targeted advertising</em>, <em>global-scale “social media”</em>,
          and other privacy-eroding industries.
        </p>
        <div class="contact">
          Interested?
          <a href="https://jeanmertz.com/career">Check out my résumé</a>, and
          <a href="mailto:hello@ethical.engineer">get in touch</a>!
        </div>
      </div>
      <div class="profiles">
        <a href="mailto:hello@ethical.engineer">&#xe905</a>
        <a href="https://github.com/JeanMertz">&#xe904</a>
        <a href="https://twitter.com/jeanmertz">&#xe901</a>
        <a href="https://youtube.com/RusticGames">&#xe900</a>
        <a href="https://stackoverflow.com/users/747032/jeanmertz">&#xe906</a>
        <a href="https://old.reddit.com/user/JeanMertz/">&#xe903</a>
        <a href="https://linkedin.com/in/jeanmertz43">&#xe902</a>
      </div>
    </section>
  </body>
</html>
